@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model SecurityInAspNet.Models.LoginViewModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_ContentLayout";
}

<fieldset>

    <h1>Login</h1>
    <br />

    <form asp-controller="Account" role="form" asp-action="Login" class="form-horizontal">
        <div asp-validation-summary="All" class="input-validation-error"></div>

        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="field-validation-error"></span>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="field-validation-error"></span>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="RememberMe" class="col-md-2 control-label"></label>
            <input type="checkbox" asp-for="RememberMe" />
            <span asp-validation-for="RememberMe" class="field-validation-error"></span>
        </div>
        <br />
        <div>
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
        <br />
        <p>
            <a asp-action="Register">Register as a new user?</a>
        </p>
    </form>
</fieldset>
