@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model IEnumerable<SecurityInAspNet.WebClient.Models.Student.CourseGrade>

@{
    ViewData["Title"] = "Student Home";
    Layout = "_ContentLayout";
}
<fieldset>
<h2>Welcome @User.Claims.FirstOrDefault(x=> x.Type=="name").Value !</h2><br />
<p><strong><a class="contentlink" href="@Url.Action("AddGrade")">Add Grade</a></strong></p>

<dl>
    @foreach (var claim in User.Claims)
    {

        <dt>@claim.Type</dt>
                       <dd>@claim.Value</dd>

    }
    </dl>
</fieldset>