@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<h1>Roux Academy of Art and Design<a href="@Url.Action("Index", "Home")" title="home"></a></h1>
<nav id="pageNav" class="cf">
    <ul>
        <li><a href="programs/programs.htm" title="programs">Programs</a></li>
        <li><a href="admissions.htm" title="admissions">Admissions</a></li>
        <li><a href="student_portal.htm" title="student portal">Student Portal</a></li>
        <li><a href="campus_portal.htm" title="campus portal">Campus</a></li>
        <li><a href="alumni.htm" title="alumni">Alumni</a></li>
        <li><a href="about/about.htm" title="about Roux Academy">About</a></li>
    </ul>
</nav>
